### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.externalToolBuilders/
*.launch
.cproject
.autotools
.factorypath
.target
.tern-project
.texlipse
.recommenders/
.apt_generated/
.project
.classpath
.apt_generated
cmake-build-*/
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/
*.iml
modules.xml
.idea/misc.xml
*.ipr
Launcher.iws
.gradle
.gradle/
/build/
build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
buildnumber
*.directory
cmd.bat
cmd.sh
project/target
.PVS-Studio/
test/
